svg {
	display: block;
	margin: 10% auto;
}

div {
    width: 100%;
    text-align: center;
}

button {
	display: block-inline;
	margin: 0 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: ‘Metrophobic’, Arial, serif; 
	font-size: 11px;
}

body { 
	background: beige;
	font-family: ‘Metrophobic’, Arial, serif; 
}

button {
	font-size: 14px;
}

.data_btn_div {
	margin: 10px;
}

#button_div {
	margin: -100px auto;
}

p {
	text-align: center;
}