svg {
	display: block;
	margin: 10% auto;
}

div {
    margin: -100px auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

button {
	display: block-inline;
	margin: 0 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}